* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  background: #eee;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.header {
  background: #e88073;
  color: white;
  padding: 4rem 0;
  text-align: center;
}

.header .title {
  font-size: 4.2rem;
  margin-bottom: 0.4rem;
}
